* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: radial-gradient(circle, #94bccd 0%, #81ccab 100%);
}
h1 {
  padding-bottom: 15px;
}
.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.status{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
select {
  width: 75%;
}